# https://www.freedesktop.org/software/systemd/man/systemd.service.html

[Unit]
Description={description}

[Service]
Type={service}
ExecStart=/bin/make --directory={makefile}

[Install]
WantedBy=multi-user.target
